
@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <div>
            <h2>@Model.Moviename</h2>
            <p>Date of Release: @Model.DateofRelease.ToShortDateString()</p>
            <!-- Additional movie details -->
        </div>
    </div>
</body>
</html>


